@charset "UTF-8"; 

img {
    width: 100%;
}
body {
    padding: 40px 0 63px;
}

/* 外部機能のcss上書き */
#avpw_controls {
    min-width: auto!important;
}
#avpw_canvas_element.avpw_position_by_transform {
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%, -50%) scale(1)!important;
}
#avpw_all_effects {
    width: 28px!important;
}
#avpw_apply_container {
    width: 28px!important;
}
.avpw_mode_action .avpw_button {
    width: 28px!important;
}
.avpw_mode_action {
    width: 70px!important;
}
#avpw_tool_container {
    left: 70px!important;
}
.avpw_tool_cutout_centered_enhance {
    left: 10px!important;
    margin-left: auto!important;
}
.avpw_mode_action_right, .avpw_mode_action_left {
    z-index: 100;
    background: #2F363F;
}
#avpw_rghtArrow {
    right: 72px!important;
}
.avpw_tool_pager .avpw_clip {
    right: 120px!important;
}
/* /外部機能のcss上書き */




.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: #fff;
    background: #3f729b;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;

}
.img-upload {
    width: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer__list {
    font-size: 0;
    background: #716E6E;
}
.footer__list > li {
    display: inline-block;
    width: 20%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.footer__list > li.is-selected {
    background: #000;
}
.footer-list__inner {}

.login-register-container {
    background: linear-gradient(-135deg, #E4A972, #9941D8);
}

.logo {
    font-family: 'Lobster', cursive;
    color: #fff;
}

.image-editer {
    position: relative;
}


label {
    color: white;
    background-color: red;
    padding: 6px;
    border-radius: 12px;
}

.timeline {
    margin: 0 0 30px;
}
.timeline__name {
    line-height: 64px;
    padding: 0 20px 0 50px;
    background: #fafafa;
    color: #125688;
}
.timeline__img {
    padding: 0 0 20px;
}
.timeline__msg {
    padding: 0 20px;
}
.under-construction {
    position:absolute;
    top:50%;
    width:100%;
    transform: translate(0,-50%);
}